
__pycache__/
*.py[cod]
*$py.class


.venv/
env/
venv/


build/
dist/
*.egg-info/
*.egg


*.spec


htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.log
*.tmp
*.bak


.DS_Store
Thumbs.db


*.env
